{% include bootstrap-header.html %}

<div class="container">

<div class="row">

    <div class="col-xs-12 col-sm-8">
        <h1>{{ page.title }}</h1>
        <!--<hr/>-->
        {{ content }}
    </div>

    <div class="col-xs-12 col-sm-4 right-nav">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading" style="font-variant:small-caps;font-size: 18px;">モジュール</div>
            <ol class="list-group">
                <li><a href="create-developer-edition.html">Developer Editionアカウントの作成</a></li>
                <li><a href="install-schema-package.html">Schemaパッケージのインストール</a></li>
                <li><a href="configure-data-source-objects.html">外部データソース及び外部オブジェクトの設定</a></li>
                <li><a href="create-lookup-relationships.html">間接及び外部参照関係の設定</a></li>
                <li><a href="enable-chatter-salesforce1.html">確認: Chatterを有効化しSalesforce1で注文を見る</a></li>
            </ol>
            <hr/>
            <div style="margin: -8px 0 12px 14px">
                <a href="next.html">次のステップ</a>
            </div>
        </div>
<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-url="http://salesforcedevelopersjapan.github.io/lightning-connect-tutorial/" data-text="Salesforce Lightning コネクトチュートリアル">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


    </div>

</div>

</div>

{% include bootstrap-footer.html %}
